/* styles for bottleintro */
.bottleintro {
  
}
.bottleintro__wrapper {
  position: relative;
  @media (--ml) {
    
  }
}

.bottleintro__container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  padding-left: 25px;
  padding-right: 25px;
  @media (--s) {
  }

  @media (--m) {
    text-align: left;
    max-width: var(--m);
    flex-wrap: nowrap;
  }

  @media (--ml) {
    max-width: 1180px;
  }
}

.bottleintro__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backgound: rgba(0,0,0,0.3);
    background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  }
}


.bottleintro__text {
  margin-top: 45px;
  margin-bottom: 45px;

  @media (--m) {
    width: 50%;
    margin-top: 135px;
    margin-bottom: 135px;
  }

  @media (-l) {
    
  }
}

.bottleintro__bottle {
  padding: 0 16%;
  overflow: hidden;

  opacity: 0;
  transform: translateY(100%);

  .loaded & {
    opacity: 1;
    transform: translateY(0%);
    transition: 2s ease all, 0.3s ease opacity;
  }

  img {
    width: 100%;
    display: block;
    margin-bottom: -10%;
    @media (--m) {
      margin-bottom: 0%;
    }
  }

  @media (--m) {
    width: 50%;
    margin-top: 80px;
    align-self: center;
    padding-right: 0%;
  }

  @media (--ml) {
    padding-right: 2.5%;
  }

  @media (--l) {
    padding-left: 15%;
  }
}