/* styles for footer */
.footer {
  background-color: var(--black20);
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--h-footer);
  @media (--s) {
    height: var(--h-footer-xs);
  }
}

.footer__col {
  padding: 0 var(--padding);
  @media (--l) {
    padding: 0 var(--paddingM);
  }
}

.footer__col--logo {
  img {
    margin-left: 0;
    display: block;
    max-width: var(--logosize);
  }
}

.footer__col--share {
  display: flex;
  align-items: center;
  span {
    letter-spacing: 2.33px;
  }

  .social-icons-list {
    padding-left: 0;
    margin: 0;
  }
}