.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--black20);
}

.header__notice {
  background-color: var(--tan);
  color: var(--black);
  font-size: 13px;
  line-height: 1;
  padding: 5px 0;
}

.header__main {
  color: var(--white);
  position: relative;
  height: var(--h-height);
}

.header__main__el {
  padding: 0 var(--padding);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  img {
    display: block;
  }
}

.header__main__el--brand {
  padding-left: var(--h-padding);
  @media (--l) {
    padding-left: var(--h-padding-lg);
  }
  img {
    max-width: var(--logosize);
  }
}

.header__main__el--logo {
  left: 50%;
  transform: translate(-50%, -50%);
  a {
    display: block;
  }
  img {
    display: block;
    margin:  0 auto;
    max-width: 87px;
  }
}

.header__main__el--share {
  right: 0;
  left: auto;
}