button {
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

button[disabled],
input[disabled] {
  cursor: default;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  padding: 1em;
  text-decoration: none;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  @media (--m) {
    font-size: 13px;
  }
  @media (--l) {
    font-size: 14px;
  }
}

.pointer {
  cursor: pointer;
}
