.black { color: var(--black); }
.white { color: var(--white); }
.tan { color: var(--tan); }

/* Background Colors */
.bg-black { background-color: var(--black); }
.bg-white { background-color: var(--white); }
