.container {
  max-width: var(--l);
  padding-left: var(--gutter-lg);
  padding-right: var(--gutter-lg);
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

.container--xxs { max-width: var(--xxs); }
.container--xs { max-width: var(--xs); }
.container--s { max-width: var(--s); }
.container--ms { max-width: var(--ms); }
.container--m { max-width: var(--m); }
.container--ml { max-width: var(--ml); }
.container--l { max-width: var(--l); }
.container--xl { max-width: var(--xl); }
.container--xxl { max-width: var(--xxl); }
.container--nogutter {
  padding-left: 0;
  padding-right: 0;
}