
/**
 * This is the definitive place for
 * the site's typographic styles.
 *
 * i.e h1, h2, h3, p, li, a, etc
 */
body {
  color: var(--black);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.7;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

.h1 {
  line-height: 1.1px;
}

.h2 {
  line-height: 1.3px;
}

.h3 {
  line-height: 1.5px;
}

.h4 {
  line-height: 1.5px;
}

.h5 {
  line-height: 1.5px;
}

.h6 {
  line-height: 1.5px;
}

.p {
  font-size: 14px;
  line-height: 1.4px;

  @media (--m) {
    font-size: 15px;
  }

  @media (--l) {
    font-size: 16px;
  }
}

.link {
  color: inherit;
}

.blockquote {
  margin: 3rem 0;
  padding-left: 2rem;
  border-left: 4px solid #148ecc;
}

.hr {
  display: block;
  background-color: currentColor;
  color: inherit;
  border: 0;
  height: 1px;
  width: 100%;
  margin: 0;
}

.small {
  font-size: 12px;
  @media (--m) {
    font-size: 13px;
  }
}

.type--reset {
  margin: 0;
  line-height: 1;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 100;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.decoration--none {
  text-decoration: none;
}

.title {
  font-weight: 500;
  font-size: 35px;
  @media (--m) {
    font-size: 60px;
  }

  @media (--l) {
    font-size: 70px;
  }
}

.heading {
  font-weight: 500;
  font-size: 19px;
  @media (--m) {
    font-size: 35px;
  }
}

.subheading {
  font-weight: 400;
  font-size: 18px;
  @media (--m) {
    font-size: 21px;
  }

  @media (--l) {
    font-size: 28px;
  }
}

.subheading--s {
  font-weight: 400;
  font-size: 17px;
  @media (--m) {
    font-size: 19px;
  }

  @media (--l) {
    font-size: 24px;
  }
}