:root {
  /* Padding */
  --padding: 20px;
  --paddingXS: 30px;
  --paddingM: 50px;

  /* Breakpoints */
  --xxs: 445px;
  --xs: 625px;
  --s: 768px;
  --ms: 840px;
  --m: 960px;
  --ml: 1160px;
  --l: 1290px;
  --xl: 1440px;
  --xxl: 2000px;

  /* Colors */
  --black: #000;
  --black20: #1E1E1E;
  --white: #fff;
  --tan: #B5A484;
  --red: #BD3131;
  --deep-red: #932525;
  --tan-light: #F3F1ED;
  --color-primary: #BD3131;

  /* Borders */
  --border: 1px solid var(--black);

  /* Transitions */
  --duration: 0.25s;
  --speed: 200ms;
  --ease: ease-in-out;

  /* Grids */
  --gutter-sm: 10px;
  --gutter-lg: 15px;

  /* Header */
  --h-height: 73px;
  --h-height-lg: 83px;
  --h-padding: 22px;
  --h-padding-lg: 54px;
  --logosize: 73px;

  --headerSize: 96px;

  /* Footer */
  --h-footer: 80px;
  --h-footer-xs: 90px;

  /* MaxWidths */
  --contentMaxWidth: 2000px;
}

/* Breakpoint Queries */
@custom-media --xxs (min-width: 445px);
@custom-media --xs (min-width: 625px);
@custom-media --s (min-width: 768px);
@custom-media --ms (min-width: 840px);
@custom-media --m (min-width: 960px);
@custom-media --ml (min-width: 1160px);
@custom-media --l (min-width: 1290px);
@custom-media --xl (min-width: 1440px);
@custom-media --xxl (min-width: 800px);
