.article-box {
  padding-left: var(--gutter-sm);
  padding-right: var(--gutter-sm);
  margin-bottom: 25px;
  cursor: pointer;
  &:hover {
    .article-box__image {
      &:after {
        opacity: 1;
      }
    }
  }
}

.article-box--highlight {
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  background-color: var(--tan);
  margin-top: -22.5%;
  margin-bottom: 0;

  padding-left: 25px;
  padding-right: 25px;

  @media (--m) {
    margin-top: -25%;
  }

  @media (--l) {
    margin-top: -22.5%;
  }

  @media (min-width: 2000px) {
    padding-left: 0;
    padding-right: 0;
  }

  .article-box__wrap {
    z-index: 300;
    max-width: var(--l);
    margin: 0 auto;
    @media (--m) {
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    &:hover {
      .article-box__cta {
        color: var(--deep-red);
      }
    }
  }

  .article-box__image {
    @media (--xs) {
      padding-bottom: 60%;
    }

    @media (--m) {
      width: 50%;
      padding-bottom: 50%;
    }

  }
  
  .article-box__content {
    position: relative;
    @media (--m) {
      width: 50%;
    }
  }

  .article-box__cta {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    display: block;
  }
}

.article-box__wrap {
  background-color: var(--tan-light);
  min-height: 100%;
  position: relative;
  transition: 0.5s ease background, 0.4s ease color;
  color: var(--black20);
}

.article-box__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -28px;
  margin-top: -28px;
  background-color: var(--tan-light);
  transition: 0.5s ease background;
  svg {
    width: 22px;
    height: 22px;
    path {
      fill: var(--color-primary);
    }

    @media (--m) {
      width: 18px;
      height: 18px;
    }
  }
}

.article-box__image {
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0, 0.10);
    transition: 0.5s ease opacity;
    z-index: 2;
  }
}

.article-box__content {
  padding: var(--padding);
  padding-top: 30px;
  padding-bottom: 50px;
  flex-grow: 1;
  h5 {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.article-box__date {
  font-size: 11px;
  letter-spacing: 1.57px;
  @media (--m) {
    font-size: 14px;
  }
}

.article-box__cta {
  font-size: 14px;
  color: var(--red);
  left: 0;
  right: 0;
  bottom: 30px;
}

.article-box__excerpt {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}