/* styles for recent-articles */
.recent-articles {
  background-color: var(--white);
}

.recent-articles__title {
  margin: 0;
  padding: var(--padding) 0;
  @media (--l) {
    padding: var(--paddingXS) 0;
  }
}

.recent-articles__articles {
  .article-box {
    width: 100%;
    padding-left: var(--gutter-sm);
    padding-right: var(--gutter-sm);
    margin-bottom: 25px;
  
    @media (--s) {
      width: 50%;
    }
  
    @media (--m) {
      width: 33.3333%;
      padding-left: var(--gutter-lg);
      padding-right: var(--gutter-lg);
      margin-bottom: 30px;
    }
  
    &:hover {
      cursor: pointer;
      .article-box__wrap {
        background-color: var(--tan);
        color: var(--white);
      }
  
      .article-box__icon {
        background-color: var(--tan);
      }
    }
  }
  
}